<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>eMart---- Televisions</title>

    <!-- Bootstrap Core CSS -->
    <link href="/list1.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/list2.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- sidebar -->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active"><a href="/products">Home</a></li>
              <li><a href="/products/tv">Televisions</a></li>
              <li><a href="/products/tablets">Tablets</a></li>
              <li><a href="/products/phones">Phones</a></li>   
              
        </div>

    

    <!-- Page Content -->
    <div class="container">
    <div class="col-xs-12 col-sm-9">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Television Gallery</h1>
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/products/tv/sony">
                    <img class="img-responsive" src="/images/sony.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/products/tv/samsung">
                    <img class="img-responsive" src="/images/Samsung.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/products/tv/lg">
                    <img class="img-responsive" src="/images/LG.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/products/tv/toshiba">
                    <img class="img-responsive" src="/images/toshiba.jpg" alt="">
                </a>
            </div>
            
        </div>
    </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Vijay Raj Thota @ CMPE 273</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/display/jquery-1.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/display/bootstrap.js"></script>




</body></html>